.PC{
    display: none;
}

.Phone{
    display: inherit;
}

.section{
    padding: 30px 0;
}

p{
    font-size: 12pt;
    
}

.main-visual{
    padding: 20px 15px;
}

#index{
    .main-visual{
        .visual{
            $padding: 25px;
            width: 100%;
            margin: inherit 12px;
            margin-top: 18px;
            height: calc(75vh - $padding*2);
            min-height: 380px;
            max-height: 600px;
            padding: $padding;
            .bgText{
                #float{
                    h1{
                        color: rgb(200, 200, 200);
                        font-size: 20rem;
                        text-shadow: -3rem 2rem 0.5rem rgba(0, 0, 0, 0.5);
                    }
                    @keyframes FloatLoop {
                        from {transform: translate(-45%, -24.6%);}
                        to {transform: translate(-45%, -58%);}
                    }
                }
            }
            .content{
                width: 100%;
                min-width: inherit;
                h1{
                    font-size: calc(4vw + 2rem);
                    word-break: inherit;
                }
            }
        }
    }
}

._background{
    font-size: 1.6rem;
}