.section{
    height: 100vh;
    min-height: 540px;
    .container{
        height: 100%;
        display: flex;
        justify-content: center;
        .form-wrap{
            height: 100%;
            width: 100%;
            max-width: 400px;
            gap: 1.5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .buttons{
                margin-top: 2rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .btn{
                    width: 5rem;
                }
            }
        }
    }
}