.section{
    height: 100vh;
    min-height: 540px;
    .container{
        height: 100%;
        display: flex;
        justify-content: center;
        .h2{
            margin-bottom: 02rem;
        }
        .form-wrap{
            height: 100%;
            width: 100%;
            padding: 0 15px;
            max-width: 400px;
            gap: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .buttons{
                margin: 1rem 0;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .btn{
                   padding-left: 1.2rem;
                   padding-right: 1.2rem;
                }
            }
        }
    }
}