$nav_height: 60px;
$nav_width: calc(65vw + 180px);
$nav_phone_height: 48px;
$nav_phone_width: calc(100vw - 26px);

body{
    a{
        color: black;
        text-decoration: none;
    }
}

.nav{
    z-index: 100;
    position: fixed;
    top: 0;
    width: 100vw;
    height: $nav_height;
    display: flex;
    justify-content: center;
    backdrop-filter: saturate(180%) blur(20px);
    background-color: rgba(255, 255, 255, 0.58);
    .navContainer{
        height: 100%;
        width: 100vw;
        max-width: 1200px;
        display: flex;
        align-items: center;
        .elements{
            .hamburger{
                display: flex;
                flex-direction: column;
                width: 26px;
                align-items: center;
                cursor: pointer;
            }
        }
        .list{
            width: 100%;
            ul{
                margin: 0;
                padding: 0;
                list-style-type: none;
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: space-around;
                li{
                    text-align: center;
                    h2 > a{
                        font-size: 1.5rem;
                        font-weight: 600;
                        margin: 0;
                    }
                }
            }
        }
    }
}

@media all and (min-width: 769px) {
    .navPhone{
        display: none;
    }
    .elements{
        display: none;
    }
    ul{
        li{
            font-size: 1.2rem;
            a{
                position: relative;
            }
            a::after {
                content:"";
                display:flex;
                width: 0;
                height: 1px;
                background-color: hsla(0, 0%, 0%, 0.5);
                position: absolute;
                bottom: -1px;
                right: 0;
                transition: 0.3s;
            }
            a:not(#logo):hover::after{
                width: 100%;
                left: 0;
            }
        }
    }
}

@media all and (max-width: 768px) {
    .navPC{
        display: none;
    }
    .nav{
        height: $nav_phone_height;
        max-height: inherit;
        transition: height 0.8s cubic-bezier(.5,0,.5,1);
        overflow: hidden;
        .navContainer{
            display: block;
            position: absolute;
            top: 0;
            height: $nav_phone_height;
            border-bottom: rgba(0, 0, 0, 0) solid 1px;
            background-color: rgba(255, 255, 255, 0);
            transition: background-color 0.4s ease, border-bottom 0.4s ease;
            .elements{
                margin: 0 auto;
                width: $nav_phone_width;
                height: 100%;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .hamburger{
                    .bar{
                        display: block;
                        width: 18px;
                        height: 1px;
                        margin: 3.5px;
                        background-color: black;
                        transition: all 0.3s ease-in-out;
                    }
                }
                .hamburger.active .bar:nth-child(1){
                    transform: translate(0px, 3.85px) rotate(45deg);
                }
                .hamburger.active .bar:nth-child(2){
                    transform: translate(0px, -3.85px) rotate(-45deg);
                }
                .ICdesign{
                    #logo{
                        margin: 0;
                        font-weight: 600;
                    }
                }
                .icon{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 26px;
                    a{
                        height: 26px;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
            .list{
                ul{
                    display: flex;
                    flex-direction: column;
                    li:not(.navPC){
                        display: flex;
                        justify-content: left;
                        width: 80%;
                        border-top: rgba(0, 0, 0, 0.4) solid 1px;
                        opacity: 0;
                        transition: opacity 0.3s ease 0.2s;
                        a{
                            position: relative;
                            left: 0;
                            padding: 5px;
                            padding-top: 6px;
                            margin: 5px;
                            width: 100%;
                            font-size: inherit;
                            text-align: left;
                        }
                        &:nth-child(2){
                            border-top: rgba(0, 0, 0, 0);
                        }
                    }
                }
            }
        }
    }
    .nav.active{
        height: 100vh;
        .navContainer{
            background-color: rgba(255, 255, 255, 1);
            border-bottom: rgba(0, 0, 0, 0.4) solid 1px;
            .list{
                ul{
                    display: flex;
                    flex-direction: column;
                    opacity: 1;
                    li{
                        opacity: 1;
                    }
                }
            }
        }
    }
}
