*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
    background-color: #181818;
    color: white;
    a, a:hover{
        text-decoration:none;
        color: inherit;
    }
    header{
        h1{
            white-space:nowrap;
        }
    }
    .group{
        width: 80%;
        position: relative;
        left: 50%;
        top: 450px;
        transform: translate(-50%);
        color: #181818;
        .card{
            border-radius: 1em;
            border:white 3px;
            border: 0px;
            -webkit-filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));
            filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));
            #popUp{
                position: absolute;
                width: 100%;
                height: 100%;
            }
            .cover0{
                z-index: 9999;
            }
            .cover1{
                z-index: 5000;
            }
            h1{
                position: relative;
                text-align: center;
                transform: translate(-50%, -50%);
                left: 50%;
                top: 55%;
                font-size: 4rem;
                color: white;
                opacity: 0;
                transition: all 0.6s;
                transition-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
            }
            .cover2{
                background-color: rgba(0, 0, 0, 0);
                z-index: 1000;
                border-radius: 0.9em;
                transition: all 0.6s;
                transition-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
            }
            .cover0:hover + .cover2{
                background-color: rgba(0, 0, 0, 0.6);
            }
            .cover0:hover > h1{
                top: 35%;
                opacity: 1;
            }
            img{
                border-radius: 0.9em 0.9em 0 0;
            }
        }
    }
    header{
        h1{
            position: absolute;
            left: 50%;
            top: 150px;
            transform: translate(-50%, 0%);
            font-size: 8rem;
        }
        p{
            position: absolute;
            font-size: 2.8rem;
            font-weight: 200;
            left: 50%;
            top: 320px;
            transform: translate(-50%, 0%);
        }
    }
    footer{
        background-color: aqua;
        position: absolute;
        bottom: -450px;
        width: 100%;
        height: 60px;
        h2{
            background-color: aquamarine;
        }
    }
}